@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9f3e4; /* Couleur beige clair du projet */
  color: #5C735F; /* Couleur de texte par défaut */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}


/* Supprime les styles foncés hérités de Vite */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #5C735F;
  text-decoration: none;
}
a:hover {
  color: #A26769; /* Rouge vin doux */
}

/* Titres harmonisés */
h1, h2, h3 {
  font-weight: bold;
  color: #5C735F;
}

/* Boutons par défaut */
button {
  all: unset;
  cursor: pointer;
}